#gameStats {
  position: absolute;
  top: 300px;
  right: 2px;
  width: 200px; 
  background-color: #333333; 
  padding: 3px; 
  border-color: black; 
  border: solid 2px; 
  margin: 2px; 
}

h2 {
    color: white; 
}
#lastAction {
    color: white;
}
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 3px; 
}

.label {
    color: black;  
    font-weight: bold; 
}

.line {
  stroke: #666;
  fill: white; 
  stroke-width: 3px; 
}

#map {
    position: relative;
    right: 25px; 
    text-align: center; 
    height: 600px; 
    width: 750px; 
}

#background {
    background-image: url('/static/img/Risk_board.svg'); 
    position: relative; 
    top: -600px; 
    left: 0px; 
    z-index: -1; 
    -webkit-filter: grayscale(1); 
}

line {
  stroke: #666;
  stroke-width: 1.5px; 
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 3.0px;
}

text {
  fill: #000;
  font: 12px sans-serif;
  pointer-events: none;
}


