{% extends "games_base.html" %}

{% block body2 %}

      <h1>Completed Games</h1>
      {% for game in completed_games %}
        <h3> Game {{ game.id }} </h3>
        <p>
        {% if game.winner %}
          {{ game.winner.username }} won!
        {% else %}
          The game was a draw.
        {% endif %}
        </p>
        <h4> Players </h4>
        <table class="table">
          <thead>
            <tr>
              <th> Username </th>
              <th> Games Won </th>
              <th> Games Played </th>
              <th> Win Percentage </th>
            </tr>
          </thead>
          <tbody>
          {% for user in game.users %}
            <tr>
              <td> {{ user.username }} </td>
              <td> {{ user.games_won|length }} </td>
              <td> {{ user.completed_games|length }} </td>
              <td> {{ (user.games_won|length * 100) // user.completed_games|length }}% </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      <a class="btn btn-large btn-success" href="/watch-game/{{ game.id }}">
        Watch Game </a>
      {% endfor %}
    </div>

{% endblock %}
