{% extends "base.html" %}

{% block nav %}
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/start-game">Games</a></li>
          <li><a href="https://github.com/eriktaubeneck/hacker_risk">Github</a></li>
{% endblock %}
{% block body %}
      <div class="jumbotron">
      <ul class="nav nav-tabs">
        <li><a href="/signup">Sign Up</a></li>
        <li class="active"><a href="/start-game">Start Game</a></li>
        <li><a href="/games">Games</a></li>
      </ul>

        <h1>Start a Game!</h1>
        <form method="POST" action="/start-game">
            {{ form.csrf_token }}
            {{ form.players.label}} {{ form.players }}
          <input type="submit" value="Start">
        </form>
      </div>
{% endblock %}
