{% extends "games_base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/watch-game.css" />
    <link rel="stylesheet" type ="text/css" href="/static/js/jquery-ui-1.10.3/themes/base/jquery.ui.all.css"></link>
    <script> 
        var gameID = "{{game.uid}}";
        var broadcasts = {{game.broadcast_count}};  
    </script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/d3.v3.js"></script> 
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.3/ui/jquery-ui.js"></script> 
    <script type="text/javascript" src="/static/js/watch-game.js"></script>     
{% endblock %}

{% block body2 %}
        <div id = "turn"></div>
        <div id = "slider"></div>
        <br>
        <button id = "play">Play Game</button>
        <button id = "pause">Pause</button>
        <br><br>
        <div id = "map"></div>
        <br><br>
        <div id = "gameStats"><h2>Game Statistics</h2></div>
    </div>
{% endblock %} 

